#chalkboard-box{
	margin:0;
	padding:0;
	height:100%;
	overflow:hidden;
	cursor:none;
	background-color: #333;
}
#chalkboard{
	/* position:absolute;
	top:0;
	left:0; */
	width:1024px;
	height:450px;
	z-index:1;
	cursor:none;
	background: url(../img/bg.png) repeat;
}
.chalk{
	width:40px;
	height:50px;
	background:url(../img/chalk.png);
	position:absolute;
	padding:0;
	margin:0;
	bottom:0;
	left:0;
	cursor:none;
	z-index:2;
}
.eraser{
	width: 50px;
	height: 100px;
	margin-top: -50px;
	margin-left: -25px;
	background: #999;
	border-radius: 5px;
	box-shadow: inset 0 0 10px #545445;
}
.panel{
	display: block;
	font-size: 18px;
	color: #333;
	font-family: sans-serif;
	position:absolute;
	margin:1em;
	bottom:0;
	left:0;
	z-index:5;
}
.panel a{
	display: inline-block;
	padding: 0.5em 1em;
	background:#ccc;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.8;
	margin-right: 0.5em;
}
.panel a:hover{
	opacity: 1;
}