
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body{
  color: rgba(0, 0, 0, 0.7);
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
textarea{
  resize: none;
}
.nm {
  margin: 0 !important;
}
.np {
  padding: 0 !important;
}
.block{
  display: block
}
.inline {
  display: inline;
}
.fa-1_5x{
  font-size: 1.5em;
}
.fa-10x{
  font-size: 10em;
}
.fa-13x{
  font-size: 13em;
}
.fa-14x{
  font-size: 14em;
}
.fa-15x{
  font-size: 15em;
}
.fa-20x{
  font-size: 20em;
}
ul.no-style{
list-style-type: none;
}
/* width */
::-webkit-scrollbar {
width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #7f7cb9; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #605ca8; 
}